<h1> User listing</h1>

<table>

  <tr>

    <th>name</th>
    <th>email</th>



  </tr>

  <% @user.each do |user| %>
      <%= link_to 'New', new_user_path(user) %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%#= user.password %></td>
        <td><%#= user.password_confirmation %></td>



        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user_path(user),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Back', users_path %>


        </td>


      </tr>

  <% end %>


</table>
