<h1>Role Page</h1>

<%= form_for @role do |f| %>
    <% if @role.errors.any? %>
        <div class="error_messages">
          <h2>Role is invalid</h2>
          <ul>
            <% for message in @role.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p class="form-group">
      <%= f.label :role %>
      <%= f.select :role, User_ids.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
    </p>





    <p class="button"><%= f.submit %></p>
<% end %>